/******************input[data-input="date"] styles****END**************/

input[data-input="date"]{

}
#data-picker{
position: relative
}

#data-picker span{
position: absolute;
right:0;
top: 0;
font-size: 25px;
height: 100%;
line-height: 35px;
padding: 0 10px;
display: none;
cursor: pointer;
}
#data-picker:hover span{
display: block;
}

/******************input[data-input="date"] styles****END**************/




/******************date picker****START**************/

.date-container{
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    z-index: 10;
    background: whitesmoke;
}
.date-body{
    padding-bottom: 5px;
    margin-top: 5px;
}
.date-container .form-group{
    margin-bottom: 0
}

.date-container select{
    background-color: white;
}
.date-container label{
    font-size: 1em !important;
    margin-right: 10px;
    text-transform: capitalize;
}

.date-container p{
    margin-bottom: 0;
    text-align: center;
    font-size: 80%;
    font-style:italic;
    margin-top: -5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1px 0;
}
.date-container p>a{
   text-decoration: none;
   color: dimgrey;
  
}

td{
    text-align: center;
    border-radius: 2.5px;
}

td.day:hover:not(:empty){
  background-color: rgba(105, 105, 105, 0.267);
  cursor: pointer;

}
td.day.active{
  background-color: rgba(105, 105, 105, 0.897);
  color: white
}

td.day.today{
border: 1px solid yellowgreen;
color: yellowgreen;
border-radius: 0;
}

td.day.today:hover{
background:  yellowgreen;
color: white;
}

td.day:nth-child(8n-7),
td.day:nth-child(7n),
th.weekdays:nth-child(8n-7),
th.weekdays:nth-child(7n){
color: red
}

th{
    background-color: yellowgreen;
}
th:nth-child(6n){
    padding: 2.5px 8px;
    
}

th{
    padding:5px;
}
th:nth-child(3n){
    padding: 5px 9px;
}
thead{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
   
}
