
.block-23{
    margin-bottom:1rem !important;
}

.salvation-slide{
    background: url("../images/bg_1.jpg") no-repeat center;
    background-size:cover;
}
.parallax{
    background-attachment: fixed;
}
.video-hero {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.slide-content{
    align-items: center;
    justify-content: center;
    color:#fff;
    margin-left: 0;
    margin-right: 0;

}
.slide-content [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
.texto  .btn{
        border-color: rgba(255, 255, 255, 1);
        background: none;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        color: white;
        transform: skewX(-10deg);
        border-top-width: 10px;
        border-right-width: 1.25px;
        border-bottom-width: 2.5px;
        border-left-width: 5px;
}
.texto  .btn:hover{
        background: white;
        color: red;
       
}
.texto h1{
    font-size: 4em;
}

@media (max-width: 991.98px){
.texto h1 {
    font-size: 2.58em;
}
}




.overlay-gradient{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #08c299 0%, #090089 100%);
    opacity: .4;
    height: 100%;;
}




.event1 .btn-primary {
    background: #ff5656;
    color: #fff;
    border-color: rgba(104, 237, 255, 0.8);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    border-width: 2px;
}
.form-group input{
    padding-right: 50px;
    border: 1px solid rgba(2, 0, 0, 0.7);
    color:black;
    border-radius: 30px;
}
.subscribe{
    float:right;
    margin-right:8px;
    margin-top:-28px;
    position: relative;
    z-index:2;
    color:red;
    opacity:0.8;
}
.sermons img{
    background: url("../images/bg_1.jpg") no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    height:200px;
    width:240px;
  
}

.vh{
    height: 100vh;
}

.vh .fullHight, .vh .slide-item{
height: 100%;
}




/*next on calender*/
.next-on-calender{
    background: #000000;
    margin-top: -160px;
    color: white;
    position: relative;
    z-index: 10;
}

.next-on-calender .container{
    padding: 30px;
}
@media(min-width:767.98px){
    .calender-description{
        border-right: 1px solid rgba(255,255,255,0.1);
        padding-right: 30px;
      }
      
}
@media(max-width:767.98px){
    .countdown{
        padding: 0;
        margin-bottom: 30px;
      }
    .countdown-wrapper{
        width: 100% !important;
      }

      .next-on-calender{
          margin-top: -77px
      }
      .video-presentation{
          top:auto !important;
          bottom:0;
          right: auto !important;
          left: 50%;
          margin-right:auto !important;
          transform: translateX(-50%) !important;
          margin-bottom: -50px;
      }
}


.countdown-wrapper{
    width:calc(100% - 150px);
    overflow-x: hidden;
}

.countdown{
    display: flex;
    margin-bottom: 2em;
    
}
.countdown span{
    text-align: center;
    font-size: 41px;
    display: inline-block;
    width: 25%;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    
}
.countdown.secondsdown span{
    animation:text-color-pulse 1s ease infinite;
}
.countdown span small{
    font-size: 100%;
}
.countdown span small:last-child{
    font-size: 14px;
    font-weight: 300;
    display: block;
}

.countdown.live{
    color: red;
    background: white;
    position: relative;
    animation: bounce 2s ease 2s infinite
}
.countdown.live:before{
    content: "Live";
    display: inline-block;
    position: absolute;
    background: red;
    color: white;
    text-align: center;
    padding:0 52px;
    top: 100%;
    font-size: 16px;
    animation: fadeInLeft 1s ease-in-out,text-color-pulse 1s ease infinite;

}
@keyframes text-color-pulse{
    from{
        color:white;
    }
    50%{
        color: red
    }
    to{
        color:white;
    }
}
.countdown.live:after{
    content: "Happening Now !!!";
    display: inline-block;
    position: absolute;
    width: calc(100% - 130px); 
    background:wheat;
    text-align: center;
    padding:0 50px;
    top: 100%;
    margin-left: 130px;
    animation: fadeInLeftBig 1s ease-in-out;
    z-index: -1;
}

.event-button{
    width: 150px;
    text-align: center;
}

.row.no-spacing{
    margin-left: 0;
    margin-right: 0;
}
.no-spacing> [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}



.mission>h1,.vision>h1{
    position: absolute;
    width: 100%;
}
.vision{
    padding: 10% 7%;
}

/* temporary style:as placeholder*/
.mission{
   background:  rgb(173, 209, 230);
}
.video-presentation{
    background: #fff;
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    margin-right: -50px;
    border: 3px solid #ff5656;
    animation: emitter 1.5s ease infinite;
    cursor: pointer;
    z-index: 1;
    transition: background-color,border .5s ease;
    transform: translate(0,-45%)
}
.video-presentation:hover{
    background-color: #ff5656c4;
    border-color:#fff;
    animation: emitter .5s ease infinite; 
}
.video-presentation:hover span{
    color: #fff;
}
.video-presentation span{
    position: absolute;
    top: 50%;
    right: 50%;
    color: #ff5656;
    transform: translate(50%,-50%);
    transition: color .4s ease;
}
#vision-mission .container-fluid{
padding-left: 0;
padding-right: 0;
}

@keyframes emitter{
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 86, 86, 0.4);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 86, 86, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 86, 86, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(255, 86, 86, 0);
        -webkit-box-shadow: 0 0 0 50px rgba(255, 86, 86, 0);
        box-shadow: 0 0 0 50px rgba(255, 86, 86, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 86, 86, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 86, 86, 0);
        box-shadow: 0 0 0 0 rgba(255, 86, 86, 0);
    }
}



.newsletter-wrapper{
    padding: 12em 0;
    background-image: linear-gradient(45deg,rgba(0, 128, 0, 0.664) 0%,rgba(128, 0, 128, 0.9) 100%);
    color: white;
}
.wrapper{
    padding: 6em 0;
    text-align: center
}
section .section-title{
   text-transform: uppercase;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   color: #4d4d4d4f;
   letter-spacing: 2px;
   font-weight: bold;
}

.icon-about{
    background: #272e4f1a;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 30px 0;
    color: #2c6d40;
}
.about-wrapper .short-desc{
    margin-top: 20px;
    padding: 5px;
}
.about-wrapper h4.title{
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bold;

}






/***********************Sermon****************************/
.sermons .img{
    background-image:url("../images/sermons-1.jpg"); 
    height:200px;
    background-position:center center;
    background-size:cover;
    text-decoration-line: none;
}
.sermons .icon{
    color: white;
    background-color: #FF5656;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.sermons .icon:hover{
    animation: pulse .6s ease-in  infinite forwards ;
}

.sermons .text h3 a{
    color:#000000;
    font: bold 24px times;
}
.sermons .text span.position {
    font-weight: 400;
    color: #b3b3b3;
    margin-bottom: 15px;
    display: block;
}

/*********************************************************/



.event-h-left{
    background-image: linear-gradient(46deg,teal 0%, purple 100%);
    color: white;
    padding: 50px 0;
}
.eventa1 span{
    display: block;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.eventa1 span:last-child{
text-transform: uppercase;
}
.eventa1 span:first-child{
font-size: 40px;
font-weight: 500;
line-height: 1.2;
margin-bottom: 4px;
text-align: right;
}
.event-wrapper{
    padding: 5%;
    background: aliceblue;

}
@media (min-width: 768px){
.event-wrapper {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 15%;
}
}

.event-container{
margin-bottom: 4em;
}
